.experience-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.experience .title .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience .title .title-text h5 {
  margin-top: 10px;
}

.experience form {
  display: flex;
  flex-direction: column;
}

.experience small {
  color: rgb(138, 136, 136);
}

.experience .text,
.experience .date,
.experience .textarea {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 10px;
}

.experience .text input,
.experience .date input {
  margin-bottom: 10px;
  height: 40px;
  border: lightgray 1px solid;
}

.experience .experience-button button {
  width: 80vw;
  height: 55px;
  margin-top: 20px;
}
