.edit-profile-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.edit-profile h6 {
  margin-bottom: 20px;
}

.edit-profile form {
  display: flex;
  flex-direction: column;
}

.edit-profile small {
  color: rgb(138, 136, 136);
}

.edit-profile .text,
.edit-profile .date,
.edit-profile .textarea {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 10px;
}

.edit-profile .text input,
.edit-profile .date input {
  height: 40px;
  border: lightgray 1px solid;
}

.edit-profile .text small {
  margin-bottom: 20px;
}

.edit-profile .edit-profile-button button {
  width: 80vw;
  height: 55px;
  margin-top: 20px;
}
