.footer {
  background-color: rgb(56, 56, 56);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer a {
  color: blue;
}

.footer a:active,
.footer a:hover {
  transition: all 1s ease;
  color: white;
}
