.profile-container {
  display: flex;
  justify-content: center;
}

.profile a {
  margin: 10px 0 10px 0;
}

.profile h3 {
  color: rgb(3, 154, 204);
}

.profile .profile-infos .main-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(3, 154, 204);
  width: 84vw;
  height: 60vh;
  color: white;
  border-radius: 5px;
}

.profile .profile-infos .main-infos .fa-user-circle {
  font-size: 25vh;
  color: lightgray;
}

.profile .profile-infos .main-infos > * {
  margin-top: 20px;
}

.profile .profile-infos .main-infos .fa-globe {
  font-size: 20px;
}

.profile .profile-infos .skill-bio {
  margin-top: 20px;
  background-color: rgb(236, 231, 231);
  border: 1px solid rgb(180, 178, 178);
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.profile .profile-infos .skill-bio .bio {
  border-bottom: 1px solid rgb(180, 178, 178);
  padding-left: 10px;
}

.profile .profile-infos .skill-bio .bio h3,
.profile .profile-infos .skill-bio .skill h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
}

.profile .profile-infos .table-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.profile .profile-infos .table-infos .experience-card,
.profile .profile-infos .table-infos .education-card {
  background-color: whitesmoke;
  width: 42vw;
  height: 25vh;
  margin-top: 20px;
}
