.education-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.education .title .title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education .title .title-text h5 {
  margin-top: 10px;
}

.education form {
  display: flex;
  flex-direction: column;
}

.education small {
  color: rgb(138, 136, 136);
}

.education .text,
.education .date,
.education .textarea {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 10px;
}

.education .text input,
.education .date input {
  margin-bottom: 10px;
  height: 40px;
  border: lightgray 1px solid;
}

.education .education-button button {
  width: 80vw;
  height: 55px;
  margin-top: 20px;
}

.education .disable {
  pointer-events: none;
  background-color: gray;
}
