.header {
  display: flex;
  height: 8vh;
  background-color: rgb(43, 43, 43);
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: gray;
}

.header .left {
  display: flex;
  margin-left: 20px;
}

.header .left a {
  margin-left: 10px;
}

.header .active {
  color: white;
}

.header a:hover {
  transition: all 0.5s ease-out;
  color: white;
}

.header .right a {
  margin-right: 10px;
}

.header .center {
  display: flex;
}

.header .center a {
  margin-left: 20px;
}

.header .center a i {
  margin-right: 5px;
  font-size: 20px;
}
